@using AC.Placeholder.Features
@using AC.Placeholder.Features.ImageContents
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IImageContentService _imageContentService;

@{
    Layout = null;
    var imageContent = _imageContentService.Get(Model);
    if (imageContent == null)
    {
        return;
    }

    var styles = Model.Styles();
}

<section class="@(styles.SectionCssClass)">
    <div class="@(styles.CssClass)">
        <div class="row gx-5 align-items-center">
            @(imageContent.HasImage && !imageContent.ImageAtTheRight){
            <div class="col-lg-@(imageContent.ImageColumnSize) order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="@(imageContent.ImageUrl)" alt="@(imageContent.ImageAlt)" />
            </div>
            }
            <div class="col-lg-@(imageContent.ContentColumnSize)">
                @Html.Raw(imageContent.Content)
            </div>
            @(imageContent.HasImage && imageContent.ImageAtTheRight){
            <div class="col-lg-@(imageContent.ImageColumnSize) order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="@(imageContent.ImageUrl)" alt="@(imageContent.ImageAlt)" />
            </div>
            }
        </div>
    </div>
</section>