@using AC.Placeholder.Features
@using AC.Placeholder.Features.Panels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IPanelListService panelListService;

@{
    Layout = "componments.cshtml";
}


@{
    var styleSetting = Umbraco.AssignedContentItem.Styles();

    var panelList = panelListService.Get(Umbraco.AssignedContentItem);
    if (panelList == null || !panelList.Items.Any())
    {
        return;
    }

    var columnSizeCssClass = "col-md-" + (12 / panelList.Columns);
}
<div class="@(styleSetting?.CssClass) pt-5">
    <div class="row">
        @foreach (var item in panelList.Items)
        {
            <div class="col-sm-12 @(columnSizeCssClass)">
                <div class="image">
                    <img src="@(item.Image)" class="d-block w-100">
                </div>
                <div class="content">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h5>@(item.Title)</h5>
                    }
                    @Html.Raw(item.Content)
                </div>
            </div>
        }
    </div>
</div>